ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password

GOOGLE_CLIENT_ID=your-client-id-here.apps.googleusercontent.com

PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key
